/* Write your code here. */
.emoji-card-item {
  list-style-type: none;
  width: 32%;
  margin-top: 8px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .emoji-card-item {
      width: 24%;
  }
}

.emoji-card-button {
  background-color: #ffffff33;
  height: 100px;
  width: 100%;
  border: 3px solid #ffffff30;
  border-radius: 24px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .emoji-card-button {
      height: 200px;
  }
}

.emoji-card-icon {
  width: 50px;
}

@media screen and (min-width: 768px) {
  .emoji-card-icon {
      width: 100px;
  }
}